<nav class="side-menu" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <!-- Sidebar Header -->
    <div class="logo-container">
        <button class="logo" *ngIf="!collapsed" (click)="toggleCollapse()">L</button>
        <div *ngIf="collapsed" class="logo-text"(click)="toggleCollapse()">LOGO</div>
    </div>

    <!-- Menu Items -->
    <ul class="menu-items" [ngStyle]="{'padding': collapsed ? '0 2vw' : '0'}">
      <li [routerLink]="option.routeLink" *ngFor="let option of menuData"  [ngStyle]="{'justify-content': collapsed ? 'flex-start' : 'center'}">
        <div class="icon-circle"><i class="{{option.icon}}"></i></div>
          <span *ngIf="collapsed">{{option.label}}</span>
      </li>
      <li (click)="logOut()" routerLink="/login"  [ngStyle]="{'justify-content': collapsed ? 'flex-start' : 'center'}">
        <div class="icon-circle">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
        <span *ngIf="collapsed" >Cerrar Sesión</span>
      </li>
    </ul>
</nav>
