.card{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7%;
  background-color: #7e87bb;
  border-radius: 1.9rem;
  color: #f4f4f4;
  .balance-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    .balance{
      display: flex;
      flex-direction: column;
      width: 50%;
      h3{
        font-size: 1.2rem;
        color: #eaeaea;
        font-weight: 500;
      }
      span{
        font-size: 0.75rem;
        @media screen and (max-width:600px) {
            color: #f3efef;
            font-size: 0.6rem
        }
      }
    }
    .icon-container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6vh;
      height: 6vh;
      background-color: #4aa38d;
      border-radius: 50%;
    }
    .month-percentage{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 25%;
      margin-top: -1vh;
      span{
        font-size: 0.75rem;
       @media screen and (max-width:600px) {
          color: #f3efef;
          font-size: 0.6rem;
      }
      }
      i{
        position: relative;
        top: 1vh;
        color: #519785;
      }
    }
  }
  @media screen and (max-width:600px){
    border: 1px solid #fff;
    margin-top: -18.5vh;
  }
}
