<section>
  <div class="title"><h3>Balance</h3></div>
  <div id="chart">
    <apx-chart style="min-height: 90%; min-width: 90%;"
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [stroke]="chartOptions.stroke!"
      [tooltip]="chartOptions.tooltip!"
      [dataLabels]="chartOptions.dataLabels!"
      [fill]="chartOptions.fill!"
      [plotOptions]="chartOptions.plotOptions!"
      [legend]="chartOptions.legend!"
    ></apx-chart>
  </div>
</section>

