<div class="header">
  <div class="search-container">
    <i class="fas fa-search search-icon"></i>
    <input
      type="text"
      class="search-bar"
      placeholder="Search..."
      style="width: 50%"
    />
  </div>

  <div class="profile-options" style="text-align: center">
    <div class="circle config">
      <i class="fa-solid fa-gear"></i>
    </div>

    <div class="circle notification">
      <i class="fas fa-bell"></i>
      <span class="notification-badge"></span>
    </div>

    <div class="circle">
      <img src="./../../../assets/img/profile2.jpg" alt="User Image" />
    </div>
    <span style="color: #6f6e6e; text-align: center; margin-top: 2vh">
      Leonel Pérez</span
    >
  </div>
</div>
