<div class="header">
  <div class="search-container">
    <i class="fas fa-search search-icon"></i>
    <input type="text" class="search-bar" placeholder="Search..." style="width: 50%;">
  </div>

  <div class="circle">
      <i class="fas fa-home"></i>
  </div>

  <div class="circle">
      <i class="fas fa-bell"></i>
      <span class="notification-badge"></span>
  </div>

  <div class="circle">
      <img src="./../../../assets/img/profile2.jpg" alt="User Image">
  </div>
  <span style="margin-left: -2.1vw; color: #6f6e6e;"> Leonel Pérez</span>
</div>
