.header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 10px 20px;
  background-color: #ededed;
  color: #fff;
  justify-content: space-between;
  .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    width: 50%;
    margin-right: 2vw;
    .search-icon {
      font-size: 20px;
      color: #7e7e7e;
      margin-left: 1vw;
      margin-right: 1vw;
    }
    .search-bar {
      border: none;
      background-color: transparent;
      color: #343b63;
      flex: 1;
      outline: none;
    }
    @media screen and (max-width:600px){
      width: 60%;
      margin-right: 0;
    }
  }
  .profile-options{
    display: flex;
    flex-direction: row;
    width: 27%;
    justify-content: flex-end;
    gap: 1vw;
    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #7e7e7e;
      color: #7e7e7e;
      position: relative;
      outline: none;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      .notification-badge{
        position: absolute;
        top: -0.1vh;
        right: 0.36vw;
        width: 10px;
        height: 10px;
        background: rgb(51, 87, 214);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
    @media screen and (max-width:600px) {
      width: 20%;
      .notification, .config, span{
        display: none;
      }

    }
  }
  @media screen and (max-width:600px){
    justify-content: flex-end;
  }

}
